<div class="container">
  <div class="row pt-3">

    <div class="col-md-7 d-flex justify-content-center align-items-center">
      <div class="card me-3" style="width: 18rem;" *ngFor="let carro of cliente.veiculo">
        <div class="card-body" >
          <h5 class="card-title">{{carro.nome}} </h5>
          <p class="card-text">Placa: {{carro.placa}}</p>
          <p class="card-text">Uber: {{carro.uber}} </p>

          <a target="_blank" href="{{carro.linkContrato}}" class="btn btn-primary">Contrato</a>
        </div>
      </div>
    </div>


  </div>
</div>
