<div class="container mt-5">
  <div class="row">
    <div class="row d-flex justify-content-center mt-5 mb-5">
      <div class="col-md-4">
        <div class="form-group">
          <div class="col-md-10 input-group mb-3 mt-0 p-0">
            <input type="text" class="form-control" [(ngModel)]="nomeCliente" (keyup)="trazerPorNome()" />
            <div class="input-group-append">
              <button class="btn btn-secondary">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card mt-2" *ngFor="let cliente of listaClientes">
        <div class="card-body">
          <h5 class="card-title">{{ cliente.nome }}</h5>
          <div class="d-flex justify-content-between align-items-center">

            <div>
              <a target="_blank"
                href="https://web.whatsapp.com/send?phone=55{{
                  cliente.contato
                }}"
                class="card-text"
                ><i class="fa-brands fa-whatsapp whatsapp"></i
              ></a>
            </div>

            <div>
              <a [routerLink]="['/infogerais',cliente.id_cliente]"  class="btn btn-primary"><i class="fa-solid fa-file-lines"></i></a>
              <a  class="btn btn-primary ms-1"> <i class="fa-solid fa-pen-to-square pen"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
